---
export interface Props {
  logo: string;
  name: string;
  title: string;
  description: string;
  color: string;
}
// import 'virtual:windi.css';
// import '@fontsource/roboto/300.css';
// import '@fontsource/roboto/400.css';
// import '@fontsource/roboto/500.css';
// import '@fontsource/roboto/700.css';

const { logo, name, title, description, color } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Must -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="keywords" content="portfolio">
  <meta name="description" content={description}>
  <meta name="description" content={Astro.generator}>
  <title>{title}</title>

  <!-- Android  -->
  <meta name="theme-color" content={color}>
  <meta name="mobile-web-app-capable" content="yes">

  <!-- iOS -->
  <meta name="apple-mobile-web-app-title" content="Application Title">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <!-- Windows  -->
  <meta name="msapplication-navbutton-color" content="#0d1117">
  <meta name="msapplication-TileColor" content="#0d1117">
  <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
  <meta name="msapplication-config" content="browserconfig.xml">

  <!-- Pinned Sites  -->
  <meta name="application-name" content={name}>
  <meta name="msapplication-tooltip" content={`WEB ${name}`}>
  <meta name="msapplication-starturl" content="/">

  <!-- Tap highlighting  -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- UC Mobile Browser  -->
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">

  <!-- Disable night mode for this page  -->
  <meta name="nightmode" content="enable/disable">

  <!-- Fitscreen  -->
  <meta name="viewport" content="uc-fitscreen=yes" />

  <!-- Layout mode -->
  <meta name="layoutmode" content="fitscreen/standard">

  <!-- imagemode - show image even in text only mode  -->
  <meta name="imagemode" content="force">

  <!-- Orientation  -->
  <meta name="screen-orientation" content="portrait">

  <!-- Main Link Tags  -->
  <link href={logo} rel="icon" type="image/png" sizes="16x16">
  <link href={logo} rel="icon" type="image/png" sizes="32x32">
  <link href={logo} rel="icon" type="image/png" sizes="48x48">

  <!-- iOS  -->
  <link href="touch-icon-iphone.png" rel="apple-touch-icon">
  <link href="touch-icon-ipad.png" rel="apple-touch-icon" sizes="76x76">
  <link href="touch-icon-iphone-retina.png" rel="apple-touch-icon" sizes="120x120">
  <link href="touch-icon-ipad-retina.png" rel="apple-touch-icon" sizes="152x152">

  <!-- Startup Image  -->
  <link href={logo} rel="apple-touch-startup-image">

  <!-- Pinned Tab  -->
  <link href={logo} rel="mask-icon" color="#00000000">

  <!-- Android  -->
  <link href={logo} rel="icon" sizes="192x192">
  <link href={logo} rel="icon" sizes="128x128">

  <!-- Others -->
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">

  <!-- UC Browser  -->
  <link href={logo} rel="apple-touch-icon-precomposed" sizes="57x57">
  <link href={logo} rel="apple-touch-icon" sizes="72x72">

  <!-- Manifest.json  -->
  <link href="/manifest.json" rel="manifest">
</head>

<body>
  <slot />
</body>

</html>